# CompanyCam SQL Practice Notebook

This notebook provides a series of SQL exercises based on a simulated CompanyCam database. Use the `run_sql()` function to execute queries and explore the data.

In [2]:

import sqlite3
import pandas as pd

DB_PATH = "companycam_sql_practice.db"

def run_sql(query, params=None):
    """
    Execute a SQL query against the SQLite database and return a DataFrame.
    """
    with sqlite3.connect(DB_PATH) as conn:
        return pd.read_sql_query(query, conn, params=params)

# Example usage:
# df = run_sql("SELECT * FROM contractors LIMIT 5")
# df

ModuleNotFoundError: No module named 'pandas'

## Level 1: Fundamentals

### Question 1: Get all contractors located in Miami.

In [ ]:
# Write your SQL query here

*Hint:* Use SELECT with WHERE on city.

### Question 2: Find the 5 most recent uploaded photos.

In [ ]:
# Write your SQL query here

*Hint:* Order by upload_time descending and limit.

### Question 3: Count how many jobs each contractor has.

In [ ]:
# Write your SQL query here

*Hint:* Aggregate by contractor_id and count.

### Question 4: Get average photo size per job.

In [ ]:
# Write your SQL query here

*Hint:* Group by job_id and use AVG.

### Question 5: Find all contractors whose name contains 'Builders'.

In [ ]:
# Write your SQL query here

*Hint:* Use LIKE with wildcard.

### Question 6: List the names of contractors in alphabetical order.

In [ ]:
# Write your SQL query here

*Hint:* ORDER BY name ascending.

## Level 2: Joins

### Question 7: List all job sites and their assigned contractors.

In [ ]:
# Write your SQL query here

*Hint:* Join jobs with contractors.

### Question 8: Find contractors who haven't uploaded any photos.

In [ ]:
# Write your SQL query here

*Hint:* Left join contractors with photos and filter for NULL photo ids.

### Question 9: Get the contractor with the highest number of jobs.

In [ ]:
# Write your SQL query here

*Hint:* Group jobs by contractor, count them, order by count descending and limit 1.

### Question 10: List jobs and the number of photos each has.

In [ ]:
# Write your SQL query here

*Hint:* Join jobs with photos and group by job id.

### Question 11: Find jobs that have no photos uploaded.

In [ ]:
# Write your SQL query here

*Hint:* Left join jobs with photos and filter for NULL photo ids.

### Question 12: For each contractor, list the first photo upload time across all jobs.

In [ ]:
# Write your SQL query here

*Hint:* Group photos by contractor and use MIN(upload_time).

## Level 3: Subqueries & CTEs

### Question 13: Find contractors with more jobs than the average contractor.

In [ ]:
# Write your SQL query here

*Hint:* Compute average job count using a subquery or CTE.

### Question 14: For each contractor, find their most recent job start date.

In [ ]:
# Write your SQL query here

*Hint:* Group by contractor and take MAX(start_date).

### Question 15: Get the top 3 job sites with the most photos.

In [ ]:
# Write your SQL query here

*Hint:* Group photos by job_id, count them, order by count descending, limit 3.

### Question 16: List jobs that have above-average number of photos.

In [ ]:
# Write your SQL query here

*Hint:* Calculate average photo count per job in a subquery.

### Question 17: Find contractors who have at least 2 open jobs.

In [ ]:
# Write your SQL query here

*Hint:* Filter jobs by status and count per contractor.

## Level 4: Window Functions

### Question 18: For each job, rank photos by upload time.

In [ ]:
# Write your SQL query here

*Hint:* Use ROW_NUMBER() OVER (PARTITION BY job_id ORDER BY upload_time).

### Question 19: Find each contractor's most recent job using window functions.

In [ ]:
# Write your SQL query here

*Hint:* Use ROW_NUMBER() over partition by contractor and order by start_date descending.

### Question 20: For each contractor, compute the running total number of photos uploaded by date.

In [ ]:
# Write your SQL query here

*Hint:* Use a window SUM() over partition by contractor_id and order by date.

### Question 21: Calculate the 7-day rolling count of photos for each contractor.

In [ ]:
# Write your SQL query here

*Hint:* In SQLite, implement a correlated subquery since RANGE frames on dates aren't supported.

### Question 22: For each job, compute the difference in days between consecutive photo uploads.

In [ ]:
# Write your SQL query here

*Hint:* Use LAG() to get previous upload_time and subtract dates.

### Question 23: Rank contractors by total photo count across all jobs.

In [ ]:
# Write your SQL query here

*Hint:* Aggregate photos per contractor and apply RANK() function.

## Level 5: Data Cleaning & Transformation

### Question 24: Standardize contractor names to uppercase.

In [ ]:
# Write your SQL query here

*Hint:* Use UPPER() function on name.

### Question 25: Extract year and month from job start date.

In [ ]:
# Write your SQL query here

*Hint:* Use SUBSTR() or STRFTIME() to get year and month.

### Question 26: Flag jobs with missing contractor info.

In [ ]:
# Write your SQL query here

*Hint:* Left join jobs with contractors and filter for NULL contractor IDs.

### Question 27: Categorize jobs by duration: Short (<15 days), Medium (15-30 days), Long (>30 days).

In [ ]:
# Write your SQL query here

*Hint:* Use JULIANDAY() difference and CASE expression.

### Question 28: Trim any spaces in contractor names and combine city/state into a single location field.

In [ ]:
# Write your SQL query here

*Hint:* Use TRIM() and concatenation.

## Level 6: Performance & Scale

### Question 29: Compare query times before and after indexing job_id in photos table.

In [ ]:
# Write your SQL query here

*Hint:* Create an index on photos(job_id), run EXPLAIN QUERY PLAN, and compare the results.

### Question 30: Rewrite a slow query using CTEs or a different join order.

In [ ]:
# Write your SQL query here

*Hint:* Identify expensive joins and re-order them, or pre-aggregate with CTEs.

### Question 31: Identify the bottleneck of a query using EXPLAIN.

In [ ]:
# Write your SQL query here

*Hint:* Use EXPLAIN QUERY PLAN to analyze query steps and find which table scans are expensive.

## Level 7: ML Feature Engineering

### Question 32: Average time between job start and first photo upload.

In [ ]:
# Write your SQL query here

*Hint:* Calculate first photo upload per job and subtract start_date, then average across jobs.

### Question 33: Label contractors as 'Active' if they uploaded a photo in the last 30 days; otherwise 'Dormant'.

In [ ]:
# Write your SQL query here

*Hint:* Compare MAX(upload_time) per contractor to DATE('now','-30 day').

### Question 34: Create job-level features: number_of_photos, days_to_first_photo, most_recent_upload_time.

In [ ]:
# Write your SQL query here

*Hint:* Aggregate per job to compute photo count, first upload, last upload, and difference in days between start and first upload.

### Question 35: Create weekly cohorts of contractors based on the week of their first photo upload and track retention.

In [ ]:
# Write your SQL query here

*Hint:* Use STRFTIME() to get week numbers and join across weeks to see repeat uploads.